

//Colors
$principal: #31319c;
$secundario: #44F07A;
$blanco: #edf2f4;

$negro: #191919;
$gris-oscuro: #272727;
$gris-claro: #bdbdbd;

//Fonts
$titulo: "Playwrite AU TAS", cursive;
$texto: "Roboto", sans-serif;
$consola: "Ubuntu Mono", monospace;

//Device sizes
$telefono: 458px;
$tablet: 768px;
$desktop: 1000px;